<ion-content [fullscreen]="true">
  <div class="container">
    <div class="content-container">
      <div class="title-content">
        New Book
      </div>

      <ion-list lines="full" class="ion-no-margin">
        <ion-item>
          <ion-label position="stacked">Name</ion-label>
          <ion-input placeholder="Name"></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Year</ion-label>
          <ion-input placeholder="Year"></ion-input>
        </ion-item>
      </ion-list>

      <div class="button-container">
        <ion-button>Add</ion-button>
      </div>

    </div>

    <div class="content-container">
      <div class="title-content">
        Books
      </div>


      <div class="cards ion-margin-vertical">
        <div class="card ion-margin-horizontal" *ngFor="let book of books">
          <div class="name">{{book.name}}</div>
          <div class="year">{{book.year}}</div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
